.contenedor-video {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.video {
    width: 100%;
    border: 1px solid black;
}

.contenedor-comments {
    width: 90%;
    height: calc(100vh - 180px);
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
}
.caja-comments {
    width: 100%;
    height: 90%;
    border: 1px solid gray;
    overflow-y: auto;
}

.comentario:hover {
    background-color: rgb(247, 247, 247);
}