.icono{
    height: 30px;
    width: 30px;
}

.botones{
    width: 50px;
}

.titulosInfo{
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}

.textoInfo{
    color: black;
}

.panPrincipal{
    max-width: 1425px;
}

#filtros{
    height: 3rem;
}

#name-col{
    margin-right: 10px;
    margin-bottom: 5px;
}

#panel-der{
    margin-left: 2px;
    margin-bottom: 5px;
}

#info{
    margin-right: 5px;
}

#quiz{
    margin-right: 5px;
    height: 200px;
}

#mapa{
    height: 200px;
}

