.bg {
  background-color: antiquewhite;
}

.wrapper-video {
  position: relative;
  margin: auto;
  width: 80%;
  overflow: hidden;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1rem;
}

.font-size-input {
  font-size: 0.8rem;
}

.display {
  width: 70%;
  min-height: 100px;
  margin: auto;
  background-color: white;
}

/* Web responsive*/
@media (max-width: 600px) {
  .centered {
    font-size: 0.7rem;
  }
}




/* .plyr--full-ui input[type=range] {
    color: #971a23;
  }
  
  .plyr__control--overlaid {
    background: rgba(151, 26, 35, .5);
  }
  
  .plyr--video .plyr__control.plyr__tab-focus,
  .plyr--video .plyr__control:hover,
  .plyr--video .plyr__control[aria-expanded=true] {
    background: #971a23;
  }
  
  .plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 5px rgba(151, 26, 35, .5);
  }
  
  .plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: #971a23;
  }
    .plyr--audio .plyr__control.plyr__tab-focus,
    .plyr--audio .plyr__control:hover,
    .plyr--audio .plyr__control[aria-expanded=true] {
      background: #971a23;
  } */