.bg {
  background-color: rgb(255, 244, 231);
}

/* Contenedor del video */
.wrapper-video {
  position: relative;
  margin: auto;
  width: 80%;
  overflow: hidden;
}

/* Aviso en el centro del video */
.aviso-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1rem;
}

/* Letras y tamaños de los text inputs */
.font-size-input {
  font-size: 0.8rem;
  resize: none;
}
.font-size-input-2 {
  height: 26px;
  font-size: 0.9rem;
  resize: none;
}
.input-color-w {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #858585;
}
.max-w180 {
  max-width: 180px;
}
.max-w150 {
  max-width: 150px;
}
.max-w120 {
  max-width: 120px;
}
.max-w100 {
  max-width: 100px;
}
.max-w-files {
  font-size: 0.95rem;
}

/* Margenes */
.mg-bt-sm-neg {
  margin-bottom: -3px;
}
.mg-top-md {
  margin-top: 75px;
}
.mg-l-sm {
  margin-left: 100px;
}

/* Estilo del apartado de instrucciones */
.cont-instrucciones {
  width: 50%;
}
.txt-instrucciones {
  font-size: 1.1rem;
}

/* Botones */
.boton {
  background-color: #d6e8ff;
  border-radius: 4px;
  border: 1px solid #858585;
  width: 100px;
}
.boton:hover:enabled {
  background-color: #c0d8ff;
}
.boton-eliminar {
  background-color: #ffd6d6;
  border-radius: 4px;
  border: 1px solid #858585;
  width: 100px;
}
.boton-eliminar:hover:enabled {
  background-color: #ffb7b7;
}
.boton-guardar {
  background-color: #e3ffd6;
  border-radius: 4px;
  border: 1px solid #858585;
  width: 100px;
}
.boton-guardar:hover:enabled {
  background-color: #bfffb7;
}
.boton-subir {
  background-color: #fff2d6;
  border-radius: 4px;
  border: 1px solid #858585;
  width: 240px;
  font-size: 1.1rem;
}
.boton-subir:hover:enabled {
  background-color: #ffe8b7;
}

/* .display {
  width: 70%;
  min-height: 100px;
  margin: auto;
  background-color: white;
} */

/* Aviso flotante (https://codepen.io/Dinamo/pen/rNVOZmr) */
.myAlert-top{
  position: fixed;
  top: 90px; 
  left:25%;
  width: 50%;
}

/* Web responsive*/
@media (max-width: 400px) {
  .max-w-files {
    width: 70%;
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  .mg-l-sm {
    margin-left: -5px !important;
  }
}
@media (max-width: 600px) {
  .centered {
    font-size: 0.7rem;
  }
  .cont-instrucciones {
    width: 95%;
  }
}
@media (max-width: 767px) {
  .mg-l-sm {
    margin-left: 20px;
  }
}
@media (max-width: 1500px) {
  .cont-instrucciones {
    width: 60%;
  }
}
@media (max-width: 1200px) {
  .cont-instrucciones {
    width: 70%;
  }
}
@media (max-width: 900px) {
  .cont-instrucciones {
    width: 80%;
  }
}




/* .plyr--full-ui input[type=range] {
    color: #971a23;
  }
  
  .plyr__control--overlaid {
    background: rgba(151, 26, 35, .5);
  }
  
  .plyr--video .plyr__control.plyr__tab-focus,
  .plyr--video .plyr__control:hover,
  .plyr--video .plyr__control[aria-expanded=true] {
    background: #971a23;
  }
  
  .plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 5px rgba(151, 26, 35, .5);
  }
  
  .plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: #971a23;
  }
    .plyr--audio .plyr__control.plyr__tab-focus,
    .plyr--audio .plyr__control:hover,
    .plyr--audio .plyr__control[aria-expanded=true] {
      background: #971a23;
  } */