.icono{
    max-height: 30px;
    max-width: 30px;
}

.lock{
    max-height: 20px;
    max-width: 20px;
}

.seleccionado{
    background-color: #d2f1d2;
}

.tickFiltros{
    height: 20px;
    width: 20px;
}

.botones{
    width: 50px;
}

.titulosInfo{
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}

.textoInfo{
    color: black;
}

.panPrincipal{
    max-width: 1425px;
}

.filtroActivo{
    background-color: #ddffdd;
}

.greenHighlight{
    color: green;
}

.greenHighlight:hover{
    color: lawngreen;
}

.abajo{
    text-align: center;
}

/* Aviso flotante (https://codepen.io/Dinamo/pen/rNVOZmr) */
.myAlert-top{
    position: fixed;
    top: 90px; 
    left: 25%;
    width: 50%;
  }

#filtros{
    height: 3rem;
}

#name-col{
    margin-right: 10px;
    margin-bottom: 5px;
}

#panel-der{
    margin-left: 2px;
    margin-bottom: 5px;
}

#info{
    margin-right: 5px;
}

#bottom-container{
    min-height: 200px;
    height: 250px;
    max-height: 300px;
}

#quiz{
    margin-right: 30px;
}

#gitFooter{
    font-size: 20px;
}

#faunaFooter{
    font-size: 30px;
}

#footer{
    margin-top: 150px;
}


